<% content_for :title, "Call Log" %>

<h1>Call Log</h1>


<div id="search-form">
	<h3>Search</h3>
	<%- form_for @search do |f| -%>
		<table>
			<tr>
				<td>Full Name:</td> 
				<td><%= text_field_with_auto_complete :staff, :full_name, :value => @full_name %></td>
				<td>Gender:</td>
				<td><%= f.radio_button :gender_equals, :M %>Male<%= f.radio_button :gender_equals, :F %>Female</td>
			</tr>
			<tr>
				<td>Age:</td>
				<td><%= text_field_tag :age, value = nil %></td>
				<td>Certifications:</td>
				<td>CPR <%= check_box_tag :certification_1 %> FA <%= check_box_tag :certification_2 %> MT<%= check_box_tag :certification_3 %> Other<%= check_box_tag :certification_4 %></td>
			</tr>
			<tr>
				<td>Home Phone:</td> 
				<td><%= text_field_with_auto_complete :staff, :home_number, :value => @home_number %></td>
				<td>Pay Rate:</td>
				<td>Min: <%= text_field_tag :pay_rate_low, value = nil, :class => "pay_rate" %> Max: <%= text_field_tag :pay_rate_high, value = nil, :class => "pay_rate" %></td>
			</tr>
			<tr>
				<td>Cell Phone:</td> 
				<td><%= text_field_with_auto_complete :staff, :cell_number, :value => @cell_number %></td>
			<% form_tag staffs_path, :method => 'get' do %>
				<td>Results per page:</td> 
				<td><%= select_tag :number_per_page, options_for_select(@number_per_page_options, selected = @number_per_page) %></td>
			</tr>
			<tr>
				<td><%= submit_tag "Search", :disable_with => 'Searching...' %></td>
			</tr>
		<% end %>
	<% end -%>
</div>

<table id="list-table">
	
<% unless @staffs.empty? %>
	  <tr>
	    <th><%= order @search, :by => :first_name %></th>
	    <th><%= order @search, :by => :last_name %></th>
	    <th><%= order @search, :by => :address %></th>
	    <th><%= order @search, :by => :city %></th>
	    <th><%= order @search, :by => :state %></th>
	    <th><%= order @search, :by => :zip %></th>
	    <th><%= order @search, :by => :gender %></th>
	    <th><%= order @search, :by => :cell_number %></th>
	    <th><%= order @search, :by => :home_number %></th>
	  </tr>

	<% @staffs.each_with_index do |staff, i| %>
	  <tr <% if i % 2 == 1 %>class="odd"<% end %> onclick="tableRowLinkTo(<%= staff.id %>);return false;">
	    <td><%= staff.first_name %></td>
	    <td><%=h staff.last_name %></td>
	    <td><%=h staff.address %></td>
	    <td><%=h staff.city %></td>
	    <td><%=h staff.state %></td>
	    <td><%=h staff.zip %></td>
	    <td><%=h staff.gender %></td>
	    <td><%=h staff.cell_number %></td>
	    <td><%=h staff.home_number %></td>
	  </tr>
	<% end %>
<% else %>
	<tr id="no-results"><td>No results were found</td></tr>
<% end %>

</table>

<%= will_paginate @staffs %>