<h2>Call Log</h2>


<%- form_for @search do |f| -%>
	<p>
		Full Name: <%= text_field_with_auto_complete :staff, :full_name, :value => @full_name %>
	</p>
  	<p>
		Gender: <%= f.radio_button :gender_equals, :M %>M<%= f.radio_button :gender_equals, :F %>F
	</p>
	<p>
		Home Phone: <%= text_field_with_auto_complete :staff, :home_number, :value => @home_number %>
	</p>
	<p>
		Cell Phone: <%= text_field_with_auto_complete :staff, :cell_number, :value => @cell_number %>
	</p>
	<% form_tag staffs_path, :method => 'get' do %>
		<p>
			Results per page: <%= select_tag :number_per_page, options_for_select(@number_per_page_options, selected = @number_per_page) %>
			<%= submit_tag "Search", :disable_with => 'Searching...' %>
		</p>
	<% end %>
<% end -%>

<table id="list-table">
	
<% unless @staffs.empty? %>
	  <tr>
	    <th><%= order @search, :by => :first_name %></th>
	    <th><%= order @search, :by => :last_name %></th>
	    <th><%= order @search, :by => :address %></th>
	    <th><%= order @search, :by => :city %></th>
	    <th><%= order @search, :by => :state %></th>
	    <th><%= order @search, :by => :zip %></th>
	    <th><%= order @search, :by => :gender %></th>
	    <th><%= order @search, :by => :cell_number %></th>
	    <th><%= order @search, :by => :home_number %></th>
	  </tr>

	<% @staffs.each_with_index do |staff, i| %>
	  <tr <% if i % 2 == 1 %>class="odd"<% end %> onclick="tableRowLinkTo(<%= staff.id %>);return false;">
	    <td><%= staff.first_name %></td>
	    <td><%=h staff.last_name %></td>
	    <td><%=h staff.address %></td>
	    <td><%=h staff.city %></td>
	    <td><%=h staff.state %></td>
	    <td><%=h staff.zip %></td>
	    <td><%=h staff.gender %></td>
	    <td><%=h staff.cell_number %></td>
	    <td><%=h staff.home_number %></td>
	  </tr>
	<% end %>
<% else %>
	<tr id="no-results"><td>No results were found</td></tr>
<% end %>

</table>

<%= will_paginate @staffs %>