<% content_for :title, "Call Log" %>

<h1>Call Log</h1>

<div id="search-form">
	<h3>Search</h3>
	<%- form_for @search do |f| -%>
		<table>
			<tr>
				<td>Full Name:</td> 
				<td><%= text_field_with_auto_complete :staff, :full_name, :value => @full_name %></td>
				<td>Pay Rate:</td>
				<td>Min: <%= f.text_field :payrate_gt, :class => "pay_rate" %> Max: <%= f.text_field :payrate_lt, :class => "pay_rate" %></td>
			</tr>
			<tr>
				<td>Home Phone:</td> 
				<td><%= text_field_with_auto_complete :staff, :home_number, :value => @home_number %></td>
				<td>Certifications:</td>
				<td>CPR <%= check_box_tag :cpr, 1, params[:cpr] %> FA <%= check_box_tag :fa, 1, params[:fa] %> MT<%= check_box_tag :mt, 1, params[:mt] %></td>
			</tr>
			<tr>
				<td>Cell Phone:</td> 
				<td><%= text_field_with_auto_complete :staff, :cell_number, :value => @cell_number %></td>
				<td>Gender:</td>
				<td><%= f.radio_button :gender_equals, :Male %>Male | <%= f.radio_button :gender_equals, :Female %>Female | <%= link_to_function "Clear", "document.getElementById('search_gender_equals_female').checked = false; document.getElementById('search_gender_equals_male').checked = false; return false;" %></td>
			</tr>
			<tr>
				<% form_tag staffs_path, :method => 'get' do %>
					<td>Results per page:</td> 
					<td><%= select_tag :number_per_page, options_for_select(@number_per_page_options, selected = @number_per_page) %></td>
					<td>Include Non-Relief?:</td> 
					<td><%= check_box_tag :org_level, "1", @org_level %></td> 
			</tr>
			<tr>
				<td><%= submit_tag "Search", :disable_with => 'Searching...' %></td>
				<td colspan="3"><div id="results-no"><%= @staffs.total_entries.to_s + " Results Returned " unless @staffs.empty? %></div></td>
			</tr>
		<% end -%>
		</table>
	<% end -%>
</div>
<table id="list-table">
<% unless @staffs.empty? %>	
	  <tr>
	    <th><%= order @search, :by => :first_name, :params => {:org_level => @org_level, :cpr => @cpr, :fa => @fa, :mt => @mt, :staff => {:full_name => @full_name, :home_number => @home_number, :cell_number => @cell_number}} %></th>
	    <th><%= order @search, :by => :last_name, :params => {:org_level => @org_level, :cpr => @cpr, :fa => @fa, :mt => @mt, :full_name => @full_name, :home_number => @home_number, :cell_number => @cell_number} %></th>
	    <th><%= order @search, :by => :address, :params => {:org_level => @org_level, :cpr => @cpr, :fa => @fa, :mt => @mt, :full_name => @full_name, :home_number => @home_number, :cell_number => @cell_number} %></th>
	    <th><%= order @search, :by => :city, :params => {:org_level => @org_level, :cpr => @cpr, :fa => @fa, :mt => @mt, :full_name => @full_name, :home_number => @home_number, :cell_number => @cell_number} %></th>
	    <th><%= order @search, :by => :gender, :params => {:org_level => @org_level, :cpr => @cpr, :fa => @fa, :mt => @mt, :full_name => @full_name, :home_number => @home_number, :cell_number => @cell_number} %></th>
	    <th><%= order @search, :by => :cell_number, :params => {:org_level => @org_level, :cpr => @cpr, :fa => @fa, :mt => @mt, :full_name => @full_name, :home_number => @home_number, :cell_number => @cell_number} %></th>
	    <th><%= order @search, :by => :home_number, :params => {:org_level => @org_level, :cpr => @cpr, :fa => @fa, :mt => @mt, :full_name => @full_name, :home_number => @home_number, :cell_number => @cell_number} %></th>
	  </tr>
	<% @staffs.each_with_index do |staff, i| %>
	
	  <tr class="<% if i % 2 == 1 %>odd<% end %>"  onclick="tableRowLinkTo(<%= staff.id %>);return false;">
	    <td><%= staff.first_name %></td>
	    <td><%=h staff.last_name %></td>
	    <td><%=h staff.address %></td>
	    <td><%=h staff.city %></td>
	    <td><%=h staff.gender %></td>
	    <td><%=h staff.cell_number %></td>
	    <td><%=h staff.home_number %></td>
		<td class=" <% if expired_certification(staff.courses) %>expired<% end %> <% if certification_warning(staff.courses) %>warning<% end %>">&nbsp;&nbsp;&nbsp;&nbsp;</td>
	  </tr>
	<% end %>
<% else %>
	<tr id="no-results"><td>No results were found</td></tr>
<% end %>

</table>

<%= will_paginate @staffs %><br/>

<table>
	<tr>
		<td class="expired">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td> &nbsp;Staff member cannot work.&nbsp;&nbsp;</td>
	</tr>
	<tr>
		<td class="warning">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td> &nbsp;Staff member can work but something with their certifications needs to be addressed.</td>
	</tr>
</table>