<h1>New staff</h1>

<% form_for(@staff) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :staff_id %><br />
    <%= f.text_field :staff_id %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :doh %><br />
    <%= f.date_select :doh %>
  </p>
  <p>
    <%= f.label :cell_number %><br />
    <%= f.text_field :cell_number %>
  </p>
  <p>
    <%= f.label :home_number %><br />
    <%= f.text_field :home_number %>
  </p>
  <p>
    <%= f.label :agency_staff %><br />
    <%= f.check_box :agency_staff %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', staffs_path %>