<% content_for :title, "Add Agency Staff" %>

<h1>Add a New Agency Staff</h1>

<% form_for(@staff) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
  	<%= f.label :email %><br/>
	<%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= select("staff", "gender", %w[Male Female]) %>
  </p>
  <p>
    <%= f.label :doh %><br />
    <%= f.date_select :doh %>
  </p>
  <p>
    <%= f.label :cell_number %><br />
    <%= f.text_field :cell_number %>
  </p>
  <p>
    <%= f.label :home_number %><br />
    <%= f.text_field :home_number %>
  </p>
  <p>
  	<%= f.label :work_number %><br/>
	<%= f.text_field :work_number %>
  </p>
	<%= f.hidden_field :agency_staff, :value => true %>
	<%= f.hidden_field :payrate, :value => 0.00 %>
	<%= f.hidden_field :org_level, :value => 200 %>
	<%= f.hidden_field :status, :value => 'Active' %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', :controller => "admin" %>