<p>
  <b>Staff:</b>
  <%=h @staff.staff_id %>
</p>

<p>
  <b>First name:</b>
  <%=h @staff.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @staff.last_name %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @staff.nickname %>
</p>

<p>
  <b>Address:</b>
  <%=h @staff.address %>
</p>

<p>
  <b>City:</b>
  <%=h @staff.city %>
</p>

<p>
  <b>State:</b>
  <%=h @staff.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @staff.zip %>
</p>

<p>
  <b>Gender:</b>
  <%=h @staff.gender %>
</p>

<p>
  <b>Doh:</b>
  <%=h @staff.doh %>
</p>

<p>
  <b>Cell number:</b>
  <%=h @staff.cell_number %>
</p>

<p>
  <b>Home number:</b>
  <%=h @staff.home_number %>
</p>

<p>
  <b>Agency staff:</b>
  <%=h @staff.agency_staff %>
</p><br/>
<p>
	<span id="experience_prefs"><b>Experience and Preferences:</b></span><br/>
  	<%= in_place_editor_field :staff_info, 'experience_prefs', {}, {:rows => 10, :cols => 100, :external_control => "experience_prefs"} %>
</p><br/>
<p>
	<span id="skills_limits"><b>Skills and Limits</b></span><br/>
  	<%= in_place_editor_field :staff_info, 'skills_limits', {}, {:rows => 10, :cols => 100, :external_control => "skills_limits"} %>
</p><br/>
<p>
	<span id="schedule_availability"><b>Schedule and Availability</b></span><br/>
  	<%= in_place_editor_field :staff_info, 'schedule_availability', {}, {:rows => 10, :cols => 100, :external_control => "schedule_availability"} %>
</p><br/>
<p>
	<span id="contact_notes"><b>Contact Info and Notes</b></span><br/>
  	<%= in_place_editor_field :staff_info, 'contact_notes', {}, {:rows => 10, :cols => 100, :external_control => "contact_notes"} %>
</p><br/>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>