<p>
  <b>Staff:</b>
  <%=h @staff.staff_id %>
</p>

<p>
  <b>First name:</b>
  <%=h @staff.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @staff.last_name %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @staff.nickname %>
</p>

<p>
  <b>Address:</b>
  <%=h @staff.address %>
</p>

<p>
  <b>City:</b>
  <%=h @staff.city %>
</p>

<p>
  <b>State:</b>
  <%=h @staff.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @staff.zip %>
</p>

<p>
  <b>Gender:</b>
  <%=h @staff.gender %>
</p>

<p>
  <b>Doh:</b>
  <%=h @staff.doh %>
</p>

<p>
  <b>Cell number:</b>
  <%=h @staff.cell_number %>
</p>

<p>
  <b>Home number:</b>
  <%=h @staff.home_number %>
</p>

<p>
  <b>Agency staff:</b>
  <%=h @staff.agency_staff %>
</p>


<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>