<h1>Editing house</h1>

<% form_for(@house) do |f| %>
  <%= f.error_messages %>

  <p>
	Bu Code:<br/>
  	<%= @house.bu_code %>
  </p>
  <p>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :phone1 %><br />
    <%= f.text_field :phone1 %>
  </p>
  <p>
    <%= f.label :phone2 %><br />
    <%= f.text_field :phone2 %>
  </p>
  <p>
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </p>
  <p>
    <%= f.label :overview %><br />
    <%= f.text_area :overview, :class => "mceEditor", :rows => 20, :cols => 120 %>
  </p>
  <p>
    <%= f.label :ratio %><br />
    <%= f.text_area :ratio, :class => "mceEditor", :rows => 20, :cols => 120 %>
  </p>
  <p>
    <%= f.label :trainings_needed %><br />
    <%= f.text_area :trainings_needed, :class => "mceEditor", :rows => 20, :cols => 120 %>
  </p>
  <p>
    <%= f.label :medication_times %><br />
    <%= f.text_area :medication_times, :class => "mceEditor", :rows => 20, :cols => 120 %>
  </p>
  <p>
    <%= f.label :relief_pay %><br />
    <%= f.text_area :relief_pay, :class => "mceEditor", :rows => 20, :cols => 120 %>
  </p>
  <p>
    <%= f.label :waivers %><br />
    <%= f.text_area :waivers, :class => "mceEditor", :rows => 20, :cols => 120 %>
  </p>
  <p>
    <%= f.label :keys %><br />
    <%= f.text_area :keys, :class => "mceEditor", :rows => 20, :cols => 120 %>
  </p>
  <p>
    <%= f.label :schedule_info %><br />
    <%= f.text_area :schedule_info, :class => "mceEditor", :rows => 20, :cols => 120 %>
  </p>
  <p>
    <%= f.label :behavior_plans %><br />
    <%= f.text_area :behavior_plans, :class => "mceEditor", :rows => 20, :cols => 120 %>
  </p>
  <p>
  	<%= f.label :individuals %><br />
	<%= f.text_area :individuals, :class => "mceEditor", :rows => 20, :cols => 120 %>
  </p>
  <p>
  	<%= f.label :contact_numbers %><br />
	<%= f.text_area :contact_numbers, :class => "mceEditor", :rows => 20, :cols => 120 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', @house %> |
<%= link_to 'See all houses', houses_path %>