<% content_for :title, "Houses" %>

<h1>Houses</h1>

<div>
	<% form_for @search do |f| -%>
			House Name: <%= text_field_with_auto_complete :house, :full_info %> <%= f.submit "Search", :disable_with => 'Searching...' %>
		<% if admin? %>
			<div id="new_house_link"><%= link_to "Add a House", new_house_path %></div>
		<% end %>
	<% end -%>
</div>

<br/>
<table id="list-table">
<% unless @houses.empty? %>  
	<tr>
    	<th><%= order @search, :by => :bu_code %></th>
    	<th><%= order @search, :by => :name %></th>
    	<th><%= order @search, :by => :address %></th>
    	<th><%= order @search, :by => :city %></th>
    	<th><%= order @search, :by => :phone1 %></th>
    	<th><%= order @search, :by => :fax %></th>
  	</tr>
	<% @houses.each_with_index do |house, i| %>
	  <tr <% if i % 2 == 1 %>class="odd"<% end %>>
	    <td onclick="tableRowLinkToHouse(<%= house.id %>);return false;"><%=h house.bu_code %></td>
	    <td onclick="tableRowLinkToHouse(<%= house.id %>);return false;"><%=h house.name %></td>
	    <td onclick="tableRowLinkToHouse(<%= house.id %>);return false;"><%=h house.address %></td>
	    <td onclick="tableRowLinkToHouse(<%= house.id %>);return false;"><%=h house.city %></td>
	    <td onclick="tableRowLinkToHouse(<%= house.id %>);return false;"><%=h house.phone1 %></td>
	    <td onclick="tableRowLinkToHouse(<%= house.id %>);return false;"><%=h house.fax %></td>
	    <% if admin? || house_admin?(house) %>
			<td><%= link_to 'Edit', edit_house_path(house) %></td>
		    <td><%= link_to 'Destroy', house, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	  </tr>
	<% end %>
<% else %>
	<tr id="no-results"><td>No Houses Found</td></tr>
<% end %>
</table>
