<h1>Listing houses</h1>


<% form_for @search do |f| -%>
	<p>
		<%= text_field_with_auto_complete :house, :name %>
	</p>
	<p>
		<%= f.submit "Search", :disable_with => 'Searching...' %>
	</p>
<% end -%>

<table>
  <tr>
    <th><%= order @search, :by => :bu_code %></th>
    <th><%= order @search, :by => :name %></th>
    <th><%= order @search, :by => :address %></th>
    <th><%= order @search, :by => :city %></th>
    <th><%= order @search, :by => :state %></th>
    <th><%= order @search, :by => :zip %></th>
    <th><%= order @search, :by => :phone1 %></th>
    <th><%= order @search, :by => :phone2 %></th>
    <th><%= order @search, :by => :fax %></th>
  </tr>

<% @houses.each do |house| %>
  <tr>
    <td><%=h house.bu_code %></td>
    <td><%=h house.name %></td>
    <td><%=h house.address %></td>
    <td><%=h house.city %></td>
    <td><%=h house.state %></td>
    <td><%=h house.zip %></td>
    <td><%=h house.phone1 %></td>
    <td><%=h house.phone2 %></td>
    <td><%=h house.fax %></td>
    <td><%= link_to 'Show', house %></td>
    <td><%= link_to 'Edit', edit_house_path(house) %></td>
    <td><%= link_to 'Destroy', house, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New house', new_house_path %>