<%= link_to "Manage Assigned Staff", manage_staff_url(:id => @house.bu_code) %>

<h2>Staff Assigned to House</h2>
<div id="assigned_house_staff">
	<p>
		<%= render :partial => @house.house_staffs %>
	</p>
</div>

<% form_tag staffs_path, :method => 'get' do %>

	<%= text_field_with_auto_complete :staff, :last_name %>

<% end %>

<% remote_form_for [@house, HouseStaff.new] do |f| %>
	<p>
		<%= f.label :staff_id, "Staff ID" %>
		<%= f.text_field :staff_id %> &nbsp;
		<%= f.label :position_name, "Position" %>
		<%= f.text_field :position_name %>
	</p>
	<p><%= f.submit "Add Staff to House" %></p>
<% end %>

<p>
  <b>Bu code:</b>
  <%=h @house.bu_code %>
</p>

<p>
  <b>Name:</b>
  <%=h @house.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @house.address %>
</p>

<p>
  <b>City:</b>
  <%=h @house.city %>
</p>

<p>
  <b>State:</b>
  <%=h @house.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @house.zip %>
</p>

<p>
  <b>Phone1:</b>
  <%=h @house.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%=h @house.phone2 %>
</p>

<p>
  <b>Fax:</b>
  <%=h @house.fax %>
</p>

<p>
  <b>Overview:</b>
  <%=h @house.overview %>
</p>

<p>
  <b>Ratio:</b>
  <%=h @house.ratio %>
</p>

<p>
  <b>Trainings needed:</b>
  <%=h @house.trainings_needed %>
</p>

<p>
  <b>Medication times:</b>
  <%=h @house.medication_times %>
</p>

<p>
  <b>Relief pay:</b>
  <%=h @house.relief_pay %>
</p>

<p>
  <b>Waivers:</b>
  <%=h @house.waivers %>
</p>

<p>
  <b>Keys:</b>
  <%=h @house.keys %>
</p>

<p>
  <b>Schedule info:</b>
  <%=h @house.schedule_info %>
</p>

<p>
  <b>Behavior plans:</b>
  <%=h @house.behavior_plans %>
</p>


<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>