<% if admin? || house_admin?(@house) %>
	<div style='float: left; font-size:20pt'>
		<%= link_to 'Create Report', house_path(@house, :format => "pdf") %>
	</div>
	<div style="text-align:right; font-size:20pt;">
		<%= link_to 'Edit', edit_house_path(@house) %>
	</div>
<% end %>
<div style="width:900px; text-align:center; padding-bottom:10px;">
	
	<div class="show-page-name"><%=h @house.name %> (<%=h @house.bu_code %>)</div>
	<div class="show-page-info"><%=h @house.address %></div>
	<div class="show-page-info"><%=h @house.city %></div>
	<div class="show-page-info">
		<% if @house.phone1.blank? %>
			None //
		<% else %>
			<%= @house.phone1 %> //
		<% end %>
		<% if @house.phone2.blank? %>
			None //
		<% else %>
			<%= @house.phone2 %> //
		<% end %>
		<% if @house.fax.blank? %>
			Fax - None
		<% else %>
			<%= @house.fax %>
		<% end %>
	</div>
</div>

<div>
	
	<div class="staff_heading">Full Time Staff</div>
	
	<div id="Full Time Staff">
		
		<div id="no_full_time_staff" align="center">
			<% if @ordered_full_time_staff.empty? %>
				<p>There are no full time staff added to the house yet.</p>
			<% end %>
		</div>
		<% unless @ordered_full_time_staff.empty? %>
			<p>
				<%= render :partial => "house_staffs/house_staff", :collection => @ordered_full_time_staff%>
			</p>
		<% end %>
	
	</div>

	<div class="staff_heading">Relief Staff</div>
	
	<div id ="Relief Staff">
		<div id="no_relief_staff" align="center">
			<% if @ordered_relief_staff.empty? %>
				<p>There are no relief staff added to the house yet.</p>
			<% end %>
		</div>
		<% unless @ordered_relief_staff.empty? %>
			<p>
				<%= render :partial => "house_staffs/house_staff", :collection => @ordered_relief_staff %>
			</p>
		<% end %>
	</div>

	<div class="staff_heading">Overtime Staff</div>
	
	<div id="Overtime Staff">
		<div id="no_overtime_staff" align="center">
			<% if @ordered_overtime_staff.empty? %>
				<p>There are no overtime staff added to the house yet.</p>
			<% end %>
		</div>
		<% unless @ordered_overtime_staff.empty? %>
			<p>
				<%= render :partial => "house_staffs/house_staff", :collection => @ordered_overtime_staff %>
			</p>
		<% end %>
	</div>
	
	<% if admin? || house_admin?(@house) %>
		<div style="font-size:12pt; padding-top:10px; text-align: center;">
			<a href="#" onclick="Effect.toggle('add_staff_form', 'slide', { duration: 0.3 }); return false;">Assign Staff</a>&nbsp;&nbsp;
			<%= link_to 'Refresh List Order', @house %>
		</div>
		<div id="add_staff_form" style="display:none;width: 330px; margin:0px auto;">
			<div>
				<div id="add_staff_message"></div>
				<% remote_form_for [@house, HouseStaff.new] do |f| %>
					<table>
						<tr>
							<td>
								<%= f.label :staff_id, "Staff Member" %>
							</td>
							<td>
								<%= text_field_with_auto_complete :staff, :full_name %>
							</td>
						</tr>
						<tr>
							<td><%= f.label :position_type, "Position type" %></td>
							<td><%= f.select :position_type, options_for_select(["Full Time Staff","Relief Staff","Overtime Staff"]) %></td>
						</tr>
						<tr>
							<td><%= f.label :position_name, "Position" %></td>
							<td><%= f.select :position_name, options_for_select(house_position_list) %></td>
						</tr>
					</table>
					<p><%= f.submit "Add Staff to House" %></p>
				<% end %>
			</div>
		</div>
	<% end %>

</div>

	<p>
	  <b>Ratio:</b>
	  <%= @house.ratio %>
	</p>

	<p>
	  <b>Relief pay:</b>
	  <%= @house.relief_pay %>
	</p>

	<p>
	  <b>Keys:</b>
	  <%= @house.keys %>
	</p>

	<p>
	  <b>Overview:</b>
	  <%= @house.overview %>
	</p>

	<p>
	  <b>Trainings Needed:</b>
	  <%= @house.trainings_needed %>
	</p>

	<p>
	  <b>Medication Times:</b>
	  <%= @house.medication_times %>
	</p>

	<p>
	  <b>Waivers:</b>
	  <%= @house.waivers %>
	</p>

	<p>
	  <b>Schedule Info:</b>
	  <%= @house.schedule_info %>
	</p>

	<p>
	  <b>Behavior Plans:</b>
	  <%= @house.behavior_plans %>
	</p>
	
	<p>
		<b>Individuals:</b>
		<%= @house.individuals %>
	</p>
	
	<p>
		<b>Contact Numbers:</b>
		<%= @house.contact_numbers %>
	</p>

</div>

