<% content_for :title, "Admin" %>
<%= link_to "Add new agency staff", new_staff_path %>
<% @agency_staffs.each do |staff| %>
	<table>
		<tr>
			<td><%= staff.first_name %></td>
			<td><%= staff.last_name %></td>
			<td><%= staff.home_number %></td>
			<td><%= link_to "Edit", edit_staff_path(staff) %></td>
			<td><%= link_to "Remove", staff, :confirm => "Are you sure? This will erase all of the employees information.", :method => :delete %></td>
		</tr>
	</table>
<% end %>
