<a href="#" onclick="toggleIt('import-page');">Import Staff</a> <a href="#" onclick="toggleIt('backup-page');">Backup Database</a> <a href="#" onclick="toggleIt('restore-page');">Restore Database</a> <a href="#" onclick="toggleIt('user-page');">Manage Users</a>
<div id="content">
	<div id="import-page" style="display:none;">
		<% form_for @import, :url => { :action => "import_csv" }, :html => { :multipart => true } do |f| %>
		<fieldset>
			<div class="message">
				Only csv files are allowed.
			</div>
			<ol>
				<li>
					<label for="photo_file">CSV File</label>
					<%= f.file_field :csv, :onclick => 'enableSubmit(this);' %>
				</li>
			</ol>
		</fieldset>
		<div class="buttons">
			<%= f.submit "Import Data", :disabled => true, :disable_with => "Importing..." %>
		</div>

		<% end %>
	</div>


	<div id="backup-page" style="display:none;">
		<% form_tag(:action => "backup") do %>
			<p><%= submit_tag "Backup" %></p>
		<% end -%>
	</div>


	<div id="restore-page" style="display:none;">
		<% form_for @import, :url => { :action => "restore" }, :html => { :multipart => true } do |f| %>
		<fieldset>
			<div class="message">
				Only .sql files are allowed.
			</div>
			<ol>
				<li>
					<label for="photo_file">.sql File</label>
					<%= f.file_field :csv, :onclick => 'enableSubmit(this);' %>
				</li>
			</ol>
		</fieldset>
		<div class="buttons">
			<%= f.submit "Restore from Backup", :disabled => true, :disable_with => "Restoring..." %>
		</div>
		<% end %>
	</div>

	<div id="user-page">
		
		<h3>Add a User</h3>
		<% form_for @user, :url => {:action => 'add_user' } do |f| -%>
		<p>Email address of user being added: &nbsp;&nbsp; Account Type:<br />
		  	<%= f.text_field :email %> &nbsp;&nbsp;
			<%= select("user", "role", %w[House-Admin System-Admin]) %> &nbsp;
			<%= f.submit "Add User", :disable_with => 'Adding...' %>
			<% end -%>
		</p>


		<h3>Current Users</h3>
		<div id="users-list" style="float:left; width:500px">
			<div class="header_row">
				<div class="manage_col">
					<strong>Manage</strong>
				</div>
				<div class="username_col">
					<strong>Username</strong>
				</div>
				<div class="email_col">
					<strong>Email</strong>
				</div>
				<div class="role_col">
					<strong>Role</strong>
				</div>
			</div> <br/>
			<% @users.each do |user| %>
			
				<a href="#" onclick="Effect.toggle('<%= user.id %>_houses', 'slide', { duration: 0.3 }); return false;">				
					<div id="<%= user.id %>" class="user_row">
						<div class="manage_col">
							text
						</div>
						<div class="username_col">
							<%= user.username %>
						</div>
						<div class="email_col">
							<%= user.email %>
						</div>
						<div class="role_col">
							<%= user.role %>
						</div>
						<div class="remove_col">
							<%= link_to "Remove", user, :confirm => 'Are you sure?', :method => :delete %>
						</div>
					</div>
				</a>
				<div id="<%= user.id %>_houses" class="user_row_houses" style="display:none;">
					<div>
						<div id="<%= user.id %>_houses_list">
							<p>
								<%= render :partial => "user_house", :collection => user.user_houses %>
							</p>
						</div>
						<% form_remote_tag :url => { :controller => "admin", :action => "create" }, :html => {:id => "#{user.id}_form"} do %>
							<table>
								<tr>
									<%= hidden_field_tag :user_id, user.id %>
									<td>
										<%= label_tag :full_info, "House" %>
										<%= text_field_with_auto_complete :house, :full_info, :id => "#{user.id}_full_info" %>
									</td>
								</tr>
							</table>
							<p><%= submit_tag "Add User to House" %></p>
						<% end %>
					</div>
				</div>
				
			<% end %>
			
		</div>
	
	
	
	
	
	
	
	
	
	</div>
</div>