<% content_for :title, "Admin" %>

<div id="user-page">

	<div id="add-user-form">
	<h2>Add a User</h2>
	<% form_for @user, :url => {:action => 'add_user' } do |f| -%>
		<p>
			Email Address of User:<br />
		  	<%= f.text_field :email %> 
		</p>
		<p>
			Account Type:<br/>
			<%= select("user", "role", %w[House-Admin System-Admin]) %> &nbsp;
		</p>
		<%= f.hidden_field :system_generated_pw, :value => true %>
		<p>
			<%= f.submit "Add User", :disable_with => 'Adding...' %>
		</p>
	<% end -%>
	</div>

	<div id="current-users">
	<h2>Current Users</h2>
	<% @users.each do |user| %>				
		<table class="user_info" onclick="Effect.toggle('houses_<%= user.id %>', 'appear', { duration: 0.3 }); return false;">
			<tr>
				<td class="user_username"><%= user.username %></td>
				<td class="user_email"><%= user.email %></td>
				<td class="user_role"><%= user.role %></td>
				<td class="remove_link"><%= link_to "Remove", user, :confirm => 'Are you sure? This will erase all of the users information and they will not be able to log in.', :method => :delete %></td>
			</tr>
		</table>
		
		<div id="houses_<%= user.id %>" class="houses" style="display:none;">
			<% unless user.role == "System-Admin" %>
				<div id="houses_list_<%= user.id %>">
						<%= render :partial => "user_house", :collection => user.user_houses %>
				</div>
			
				<div id="add_house_message_<%= user.id %>"></div>
				<% form_remote_tag :url => { :controller => "admin", :action => "create" }, :html => {:id => "form_#{user.id}"} do %>
					House:
					<%= my_text_field_with_auto_complete :house, :full_info, {:index => user.id} %>
					<%= hidden_field_tag :user_id, user.id %>
					<%= submit_tag "Add User to House" %>
				<% end %>
			<% else %>
				<p>System-Admins have access to all houses.</p>
			<% end %>
		</div>

	<% end %>
	</div>
</div>