<% div_for house_staff do %>
	<p>
		<strong>Staff: </strong> <%= Staff.find_by_staff_id(house_staff.staff_id).full_name %> &nbsp; <strong>Position: </strong> <%= house_staff.position_name %>
		<%= link_to 'Remove', house_staff, :method => :delete, :confirm => "Are you sure?" %>
		
		<%= form_remote_tag :url => url_for(:controller => 'house_staffs', :action => 'remove_house_staff') %>
		<%= hidden_field_tag 'staff_id', house_staff.staff_id %>
		<%= hidden_field_tag 'bu_code', house_staff.bu_code %>
		<%= submit_tag "Remove" %>
		</form>
	</p>
<% end %>