<% content_for :title, "Reports" %>

<h1>Reports</h1>

<div id="house-reports">
<h2>Houses</h2>
<% form_tag '/houses.pdf', :method => 'get' do %>
  <div class="message" style="width:400px;">
	Selected houses in the list below will be included in a generated .pdf report.
	If no houses are selected, all will be included in the report.
  </div>
  <%= submit_tag "Create Selected Houses Report", :disable_with => "Generating..." %><br/>
  <% for house in @houses %>
	<%= check_box_tag "bu_code_equals[]", house.bu_code %><%= house.name %><br />
  <% end %>
<% end %>
</div>

<div id="staff-reports">
<h2>Staff</h2>
<% form_tag '/call-log.pdf', :method => 'get' do %>
  <div class="message" style="width:400px;">
	This report will print all Relief Staff.
  </div>
  <%= hidden_field_tag :predefined_report, "relief" %>
  <%= submit_tag "Create Relief Staff Report", :disable_with => "Generating..." %>
<% end -%><br/>

<% form_tag '/call-log.pdf', :method => 'get' do %>
  <div class="message" style="width:400px;">
	This report will print all Non-Res Staff.
  </div>
  <%= hidden_field_tag :predefined_report, "non-res" %>
  <%= submit_tag "Create Non-Res Staff Report", :disable_with => "Generating..." %>
<% end -%><br/>

<% form_tag '/call-log.pdf', :method => 'get' do %>
  <div class="message" style="width:400px;">
	This report will print all Relief Staff, as well as Full Time Staff
	who have been selected on their individual staff page to be included in this report.
  </div>  
  <%= hidden_field_tag :predefined_report, "relief-with-full" %>
  <%= submit_tag "Create Full-Time Staff Report", :disable_with => "Generating..." %>
<% end -%><br/>
</div>

