<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <link rel="SHORTCUT ICON" href="/favicon.ico"/>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'curvycorners' %>
<script type="text/javascript">
var curvyCornersVerbose = false;
</script>
</head>
<body>
	

<ul id="navi">
	<li id="home_link"><%= link_to "", root_path %></li>
	<li id="call_log_link" <% if controller.controller_name == 'staffs' %>class="current"<% end %>><%= link_to "", staffs_path %></li>
	<li id="houses_link" <% if controller.controller_name == 'houses' %>class="current"<% end %>><%= link_to "", houses_path %></li>
	<li id="reports_link" <% if controller.controller_name == 'reports' %>class="current"<% end %>><%= link_to "", reports_path %></li>
	<% if logged_in? && admin? %><li id="admin_link" <% if controller.controller_name == 'admin' %>class="current"<% end %>><%= link_to "", :controller => "admin", :action => "index" %></li><% end %>
	<li id="dec_text_link"><a href="" onclick="decreaseFontSize();return false;"></a></li>
	<li id="inc_text_link"><a href="" onclick="increaseFontSize();return false;"></a></li>
	<% if logged_in? %><li id="logout_link"><%= link_to "Logout", logout_path %></li><% end %>
</ul>

<% if controller.controller_name == "admin" %>
<ul id="second_navi">
<li><%= link_to "Manage Users", :action => "index" %></li>
<li><%= link_to "Import Staff", import_staff_path %></li>
<li><%= link_to "Non-Res Staff", non_res_staff_path %></li>
<li><%= link_to "Backup and Restore", backup_restore_path %></li>
</ul>
<% elsif controller.controller_name == "sessions" %>
<ul id="second_navi">
<li><%= link_to "Change Your Password", change_password_path %></li>
</ul>
<% end %>

<% if flash[:notice] %>
	<p id="flash-notice"><%= flash[:notice] %></p>
<% elsif flash[:error] %>
	<p id="flash-error"><%= flash[:error] %></p>
<% elsif flash[:warning] %>
	<p id="flash-warning"><%= flash[:warning] %></p>
<% end %>

<%= yield %>


<div align="center" style="clear: left; width: 900px; margin-top: 30px;">
	<%= link_to "SUBMIT FEEDBACK OR TEST INFO", email_feedback_path %>
	<br/><br/>
</div>
</body>
</html>
